@import './colors.scss';
@import './sizes.scss';

.auth {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $black-color-75;
  z-index: 10000;
  .auth-form-container {
    min-width: 512px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-color;
  }
  @media screen and (max-width: $sm) {
    .auth-form-container {
      min-width: 100%;
    }
  }
}
