@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat/Montserrat-Regular.ttf')
      format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('../public/fonts/Montserrat/Montserrat-Medium.ttf')
      format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat-Semi-Bold';
    src: url('../public/fonts/Montserrat/Montserrat-SemiBold.ttf')
      format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('../public/fonts/Montserrat/Montserrat-Bold.ttf')
      format('truetype');
    font-display: swap;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-style: normal;
  scroll-behavior: smooth;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
._3uApM {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  display: block;
}

nav {
  z-index: 1000;
}
.serach-bar {
  z-index: 1001;
}

.wrapper {
  padding: 2px 2px;
}
@media only screen and (min-width: 200px) {
  .wrapper {
    padding: 8px 8px;
  }
}
@media only screen and (min-width: 300px) {
  .wrapper {
    padding: 8px 16px;
  }
}
@media only screen and (min-width: 576px) {
  .wrapper {
    padding: 8px 16px;
  }
}
@media only screen and (min-width: 640px) {
  .wrapper {
    padding: 8px 24px;
  }
}
/* @media only screen and (min-width: 720px) {
  .wrapper {
    padding: 8px 48px;
  }
} */
@media only screen and (min-width: 992px) {
  .wrapper {
    padding: 8px 32px;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    padding: 8px 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    padding: 8px 60px;
  }
}
@media only screen and (min-width: 1400px) {
  .wrapper {
    padding: 8px 115px;
  }
}
.text-left-important {
  text-align: left !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/*  */
.query-page {
  min-height: 100vh;
}
@media (max-width: 400px) {
  body {
    /* width:max-content; */
  }
}

.line-truncate-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.wrapper {
  padding: 0px 0px;
}
@media only screen and (min-width: 576px) {
  .wrapper {
    padding: 8px 16px;
  }
}
@media only screen and (min-width: 640px) {
  .wrapper {
    padding: 8px 24px;
  }
}
@media only screen and (min-width: 992px) {
  .wrapper {
    padding: 8px 32px;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    padding: 8px 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    padding: 8px 60px;
  }
}
@media only screen and (min-width: 1400px) {
  .wrapper {
    padding: 8px 80px;
  }
}
.slick-prev:before {
  content: '\276E' !important;
  color: gray !important;
}

.slick-next:before {
  content: '\276F' !important;
  color: gray !important;
  font-size: 50px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 400px;
  background-color: rgba(183, 181, 181, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 3px;
  top: 0;
  font-size: 10px;

  /* Position the tooltip */
  box-shadow: rgb(183 181 181 / 80%) 0px 0px 2px 1px;
  position: fixed;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* .sort-btn{
  height: 100%;
  background: linear-gradient(90deg, rgb(250 250 250) 96px, #FFFF 10%);
} */
/* .mobile-sort-div{
  background: linear-gradient(90deg, rgb(250 250 250) 108px, #FFFF 10%);
} */

/* antd */
.ant-tabs-nav-list{
  background-color: #F2F2F2 !important;
}
.ant-tabs-card .ant-tabs-tab-btn {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: 20px;
  /* margin-top: 10px !important; */
}

@media only screen and (max-width: 576px) {
  .ant-tabs-card .ant-tabs-tab-btn {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    /* margin-top: 10px !important; */
  }
}
.ant-tabs-tab {
  border: none !important;
  background-color: #F2F2F2 !important;
}
.ant-tabs-tab:first-child{
  margin-top: 10px !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #363636 !important;
  font-weight: 500;
}
.mobile-tab.ant-tabs-card .ant-tabs-tab-btn {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  font-size: 14px;
}
.ant-tabs-nav .ant-tabs-nav-more {
  display: none !important;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
.disabled {
  pointer-events: none;
  cursor: not-allowed !important;
  opacity: 0.6;
}


/* react modal */
.ReactModal__Overlay {
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}


/* .fc-widget-normal{
  bottom: 54px !important;
} */

.addressphone{
  padding-left: 4rem !important;
}
.react-tel-input .selected-flag{
  width: 100% !important;
}