@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat/Montserrat-Regular.ttf')
      format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('../public/fonts/Montserrat/Montserrat-Medium.ttf')
      format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat-Semi-Bold';
    src: url('../public/fonts/Montserrat/Montserrat-SemiBold.ttf')
      format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('../public/fonts/Montserrat/Montserrat-Bold.ttf')
      format('truetype');
    font-display: swap;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-style: normal;
  scroll-behavior: smooth;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-style: normal;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
._3uApM {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  display: block;
}

nav {
  z-index: 1000;
}
.serach-bar {
  z-index: 1001;
}

.wrapper {
  padding: 2px 2px;
}
@media only screen and (min-width: 200px) {
  .wrapper {
    padding: 8px 8px;
  };

}
@media only screen and (min-width: 300px) {
  .wrapper {
    padding: 8px 16px;
  };

}
@media only screen and (min-width: 576px) {
  .wrapper {
    padding: 8px 16px;
  };

}
@media only screen and (min-width: 640px) {
  .wrapper {
    padding: 8px 24px;
  }
}
/* @media only screen and (min-width: 720px) {
  .wrapper {
    padding: 8px 48px;
  }
} */
@media only screen and (min-width: 992px) {
  .wrapper {
    padding: 8px 32px;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    padding: 8px 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    padding: 8px 60px;
  }
}
@media only screen and (min-width: 1400px) {
  .wrapper {
    padding: 8px 115px;
  }
}
.text-left-important {
  text-align: left !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/*  */
.query-page {
  min-height: 100vh;
}
@media   (max-width: 400px) {
 body{
  /* width:max-content; */
}
}
